<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @profile.address %>
</p>

<p>
  <b>Bloodgroup:</b>
  <%= @profile.bloodgroup %>
</p>

<p>
  <b>Phone:</b>
  <%= @profile.phone %>
</p>


<%= link_to 'Edit', users_path+"/"+params[:user_id]+"/profiles/"+@profile.id.to_s+"/edit" %> |
<%= link_to 'Back', users_path+"/"+params[:user_id]+"/profiles" %>
